*{
	box-sizing:border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
input[type="search"]:hover
{
    color:#fff;
}
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}
/*Верх*/
.header{
	display:flex;
	justify-content:space-around;
	align-items:center;
	background:#3c3c3c;		
}
.header h1{
	color:#fff;
}
.header a{
	color:#fff;
	text-decoration:none;	
}
/*Анимация поиска*/
.header input{
	
}
#phone{
	color:#e9b637;
}
#fa-user{
color: none;
}
#fa-user:hover{	
color: #e9b637;
}
#fa-user:active{	
color: #fff;
opacity:0.5;	
}
#shopping-cart{
	color: none;
}
#shopping-cart:hover{	
	color: #e9b637;
}
#shopping-cart:active{	
	color: #fff;
	opacity:0.5;	
}
.fa-search{
	position:relative;
	right:140px;
	color:#fff;
}
.header input{
	background:#3c3c3c;
	width:200px;
	border:1px solid #fff;
	color:#fff;
}
input[type="search"]::-webkit-input-placeholder{
	color:#989898;
}
/*Выпадающее меню*/
/*Доделать выпадающее меню*/
.categories{
	background:#f0f0f0;
	border: 1px solid transparent;
	height: 70px;
	margin:0 auto;	
}
.categories_menu{
	display:flex;
	justify-content:space-around;
	align-items:center;
	list-style:none;
	margin:0 auto;
}
.menu li > ul{
	display:none;
}
.menu li:hover > ul{
	display:flex;
	justify-content:space-around;
	list-style:none;
	position:absolute;
	z-index:1;
	background:#f0f0f0;
	width:1200px;	
}
.menu{
	color: black;
}
.submenu a{
	width:100px;
}
.submenu{
	color: #333;
	height: 70px;
}
/*Убрать недочеты при наведении*/
.submenu li:hover{	
	color: #e9b637;
}
.categories_menu a:visited{	
	color: #333;
}
.categories_menu a:active{	
	color: #fff;
	opacity:0.5;	
}
/* Выпадающее меню конец*/
/*Линия с ссылками*/
.way{
	display:flex;
	margin-left: 4.5%;		
}
.way li{
	color: #fff;
	opacity:0.5;
}
.way:hover li{	
	color: #333;
}
.way:active li{	
	color: #333;	
}
/*Горизонтальная полоса*/
.line{
	border-bottom: 3px solid #f0f0f0;
	height: 1px;
	width: 100%;
}
/*Название отдела*/
.info{
	font-family: Century Gothic Bold;
	font-size: 30px;
	margin-left: 6%;
}
/*Фильтр*/
.search_filters{
	width: 1200px;
	margin:0 auto;
	display: flex;
	justify-content:space-around;
}
.search_filters h2{
	background: grey;
	padding: 10px;
	margin-bottom: 0;
}
.filters form{
	margin-top: 0;
}
.search::before{			
	content: "";
	background-image: linear-gradient(#f0f0f0 8%, #fff 4%, #fff 100%) ;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}	
.search{
	position: relative;
}
.filters{
	display:flex;	
}
.filters_div button{
	border:none;
	width:252px;
	height:32px;
	background:#e9b637;
	outline: none;
}
.filters_div button:hover{
	background: none;	
	border: 1px solid #e9b637;
	color: #e9b637;
}
.filters_div button:active{
	background: none;	
	border: 1px solid #e9b637;
	color: #e9b637;
	opacity:0.5;
}
/*Сортировка*/

.catalog ul{
	display: flex;
}
.sorting li:first-child
{
	font-weight:bold;
	font-size:25px;
	width:250px;
}
.sorting{
	display:flex;
	justify-content:space-between;
	width:700px;
	align-items:center;
}
.sorting a
{
	color:#c3c3c3;
	text-transform:uppercase;
	font-size:14px;
}
.sorting a:hover
{
	color:#333;
}
.sorting a:active
{
	opacity:0.5;
}
.catalog-head
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
/*Каталог товаров*/
.catalog{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:800px;	
}
.catalog_div{
	border:1px solid #333;
	margin:20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
	height:350px;
	width:360px;
	position:relative;
}
.catalog_div span{
	background:#709f39;
	color:#fff;
	padding:10px;
	position:absolute;
	top:0;
	right:0;
}
.catalog_div button{
	border:none;
	width:252px;
	height:32px;
	background:#e9b637;
	outline: none;
}
.catalog_div button:hover{
	background: none;	
	border: 1px solid #e9b637;
	color: #e9b637;
}
.catalog_div button:active{
	background: none;	
	border: 1px solid #e9b637;
	color: #e9b637;
	opacity:0.5;
}
/*------------------------------------------------------*/
				/*На все страницы внизу*/
/*------------------------------------------------------*/
/*Контактная информация*/
.contact_info a:visited{
	color: white;
}
.contact_info{
	background: #464646;
	color: white;
	border: 1px solid transparent;
}
.contact_info>h1{
	font-size: 50px;	
}
.contact_link{
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	line-height:20px;
	align-items: center;	
}
.contact_link li:first-child{
	width: 610px;
	padding-left: 50px;
}
.contact_map h3{
	font-size: 14px;	
}
.contact_map li{
	font-size: 26px;
}
.contact_map{
	display: flex;
	justify-content: space-around;	
	margin-left:2%;	
	width:100%;	
}
.contact_link_info{
	display: flex;
	justify-content: space-around;	
	margin-left:7%;	
	width:20%;	
}
.contact_link a:hover{	
	color: #e9b637;
}
.contact_link a:active{	
	color: #fff;
	opacity:0.5;	
}
.contact_map li:hover{	
	color: #e9b637;
}
.contact_map li:active{	
	color: #fff;
	opacity:0.5;	
}
/*Низ страницы*/
.bottom{
	background: #3c3c3c;
	color: #838383;
	display: flex;	
}
.bottom p{
	margin-left:10%;
	width:20%;	
}
.bottom>li{
	color: #white;
}
.buttom_icon{
	display: flex;
	justify-content: space-around;	
	margin-left:60%;
	width:20%;
}
.buttom_icon li{
	color: #fff;
}
.buttom_icon li:hover{	
	color: #e9b637;
}
.buttom_icon li:active{
	color: #fff;
	opacity:0.1;
}