/*Слайдер*/
.slider{
	width:90%;
	background:#e9b637;	
	width:1000px;
	height:300px;
	margin-left:15%;
	margin-top:1%;
	margin-bottom:2%;	
}
.slider button{
	border: 2px solid white;
	color: white;
	width:252px;
	height:32px;
	background:#e9b637;	
}
.slider img{
	margin-left:50%;
	margin-top:-15%;	
}
/*Продукты*/
.product{	
	margin-top:1%;
}
.product_catalog{	
	align-items:center;
	justify-content:space-around;
	display:flex;
	position:relative;
}
.choice_product{
	background: #f0f0f0;
	width:15%;
	width:180px;
	height:180px;
	border-radius: 100px;
	border: 3px solid #e9b637;
}
/*Гарантия*/

.garant{
	align-items:center;
	justify-content:space-around;
	display:flex;			
}

.garant button{
	border: 2px solid black;
	color: black;
	width:252px;
	height:32px;
	background:white;
	align-items:center;
	justify-content:space-around;
	display:flex;	
}
/*Логотипы*/
.logo{	
	align-items:center;
	justify-content:space-around;
	display:flex;	
}
.logo_icon{		
	display:flex;
	justify-content: space-around;
}
/*Компания*/
.company_pochta::before{			
	content: "";
	background-image: linear-gradient(270deg, #3c3c3c 10%, #3c3c3c 35%, #e7e7e7 10%);
	position: absolute;
	top: 965px;
	left: 100px;
	width: 1150px;
	height: 302px;	
	z-index: -1;
	margin-top: -20px;
}
.company_pochta{
	align-items:center;
	justify-content:space-around;
	display:flex;		
}
/*Почтовая рассылка*/
.pochta{
	color: white;	
}
.pochta input{
	background-color: #515151;	
	color: #8a8a8a;
	border: 2px solid #8a8a8a;
	width: 300px;
	height: 40px;
}
.pochta button{
	background-color: #e9b637;	
	color: #3c3c3c;
	border: 2px solid #3c3c3c;
	width: 310px;
	height: 50px;	
}